.bodyContact {
    margin-top: 10%;
    width: 100%;
    height:650px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.h1Contact{
    font-size: 3em;
    text-align: center;
    margin: 10px 0;
    font-weight: 800;
    color: #000;
}

.formContact{
    background: #fff;
    width: 30%;
    padding: 7px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border: 1px solid black;
}

.formCon{
    width: 100%;
    margin: auto;
}

.formContact .grupo{
    margin: 45px;
}

.inputCon, .txtAreaCon{
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid black;
    resize: none;
}

.inputCon:focus,.txtAreaCon:focus{
    outline: none;
    color: rgb(94,93,93);
}

.inputCon:focus~.labelCon, 
.inputCon:valid~.labelCon, 
.txtAreaCon:focus~.labelCon, .txtAreaCon:valid~.labelCon{
    top: -14px;
    font-size: 12px;
    color: #2196F3;
}

.labelCon{
    color: black;
    font-size: 16px;
    left: 5px;
    top:10px;
    transition: 0.5s ease all;
    pointer-events: none;
}


.inputCon:focus~.barra::before, .txtAreaCon:focus~.barra::before{
    width: 100%;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    transition: 0.3s ease all;
    left: 0%;
}
.buttonCon{
    background: #FC5C7D;
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    display: block;
    width: 100px;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}

@media screen and (max-width:1100px){
    .bodyContact {
        margin-top: 12%;
    }
    .formContact{
        width: 50%;
    }
}
@media screen and (max-width:1000px){
    .bodyContact {
        margin-top: 14%;
    }
}
@media screen and (max-width:824px){
    .bodyContact {
        margin-top: 17%;
        margin-bottom: 6%;
    }
}
@media screen and (max-width:700px){
    .bodyContact {
        margin-top: 20%;
        margin-bottom: 9%;
    }
}
@media screen and (max-width:640px){
    .bodyContact {
        margin-top: 24%;
    }
    .formContact{
        width: 60%;
    }
}

@media screen and (max-width:520px){
    .bodyContact {
        margin-top: 34%;
    }
    .formContact{
        width: 80%;
    }
}

@media screen and (max-width:400px){
    .bodyContact {
        margin-bottom: 14%;
    }
    .formContact{
        width: 90%;
    }
}
@media screen and (max-width:350px){
    .bodyContact {
        margin-top: 38%;
    }
    .h1Contact{
        font-size: 2em;
    }
}
