.bodyContact {
    margin-top: 2%;
}

.h1Contact{
    font-size: 3em;
    text-align: center;
    margin: 10px 0;
    font-weight: 800;
    color: rgba(210, 10, 10, 0.9);
}

.formContact{
    background: rgba(255, 255, 255, 0.8);
    max-width: 800px;
    border-radius: 1.5rem;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border: 1px solid #e1e1e1;
}

.formContact .grupo{
    margin: 45px;
}

.inputCon, .txtAreaCon{
    background: none;
    color: #000;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #90a1ae;
    resize: none;
}

.inputCon:focus,.txtAreaCon:focus{
    outline: none;
    color: rgba(0, 0, 0, 0.4);
}

.inputCon:focus~.labelCon, 
.inputCon:valid~.labelCon, 
.txtAreaCon:focus~.labelCon, .txtAreaCon:valid~.labelCon{
    top: -14px;
    font-size: 12px;
    color: rgba(210, 10, 10, 0.9);
    font-weight: bold;
}

.labelCon{
    color: black;
    font-size: 16px;
    left: 5px;
    top:10px;
    transition: 0.5s ease all;
    pointer-events: none;
}


.inputCon:focus~.barra::before, .txtAreaCon:focus~.barra::before{
    width: 100%;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #eef120, #19d652);
    transition: 0.3s ease all;
    left: 0%;
}
.buttonCon{
    background: #13CF30;
    background: -webkit-linear-gradient(to right, #eef120, #19d652);
    background: linear-gradient(to right, #eef120, #19d652);
    display: block;
    width: 80%;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 0.5rem;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 8%;
    cursor: pointer;
}

@media screen and (max-width:350px){
    .h1Contact{
        font-size: 2em;
    }
}
