.button-close {
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-close:hover, .button-close:focus {
  background-color: #2980B9;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 5%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 1.5%;
}
.btn-dropmenu, .btn-dropclose {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 7px;
    text-align: center;
}

.btn-dropclose:hover {background-color: #ddd}

.show {
    display: block;
}
