.modal-invisible {
  display: none;
}

.modal-content {
  z-index: 1;
  position: fixed;
  left: 33%;
  margin: 32% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 32.3%;
  border-radius: 15px;
  text-align: center;
  overflow: auto;
}

.modal-success {
  background: #00c02b;
  border-color: #009d23;
  color: #ffffff;
}

.modal-error {
  background: #d50000;
  border-color: #ba0000;
  color: #ffffff;
}

.modal-warning {
  background: #F7B215;
  border-color: #DC9E11;
  color: #ffffff;
}
