@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    --color-page: #DC9E11;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-image: url("fondo.jpg");
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-bottom: 1%;
    padding-top: 1%;
    justify-content: space-around;
    background-color: var(--color-page);
    color: white;
    font-size: 14px;
}

.header, .center-header, .info-user, .header-left, .container {
    display: flex;
    align-items: center;
}

.header .center-header .bar-search {
    display: flex;
    flex: 1 1 auto;
}

.header .center-header .bar-search input {
    border: none;
    outline: none;
}

.header .center-header .bar-search a{
    background-color: white;
    text-align: center;
}

.header .logo, .navigation ul li, .info-user p {
    display: inline-block;
}

.menu-icon i{
    font-size: 30px;
}

.menu-icon{
    display: none;
}

.header .header-left .center-header, .container {
    flex-direction: column;
    flex: 1 1 auto;
}

.header .header-left .center-header .navigation {
    width: 350px;
}

.header .header-left {
    flex-direction: row;
}

.navigation ul li {
    padding: 2%;
}

.info-user, .menu-icon{
    padding-top: 3.8%;
}

.inicio-button {
    padding-top: 4.5%;
}

.container {
    margin-top: 10%;
}

.container h1 {
    font-size: 4.5em;
}

.footer {
    background-color: var(--color-page);
    padding: 1%;
    text-align: center;
}

.footer-head {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.close-sesion {
    border-radius: 15px;
    display: block;
    text-align:center;
}

.button-admin {
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
}

.table-admin {
    width: 100%;
    border-collapse: collapse;
    border-radius: 35px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-admin tr {
    text-align: center;
}

.table-admin tr th {
    color: #FFF;
    background-color: #212529;
}

.table-admin tr td, tr th {
    padding: 12px 15px;
}

.table-admin tr td {
    color: #000;
    background-color: #E9ECEF;
    border-top: 2px solid #F7F7F9;
}

.content-messages {
    margin: 6% auto;
    text-align: center;
    line-height: 120px;
}

.messages {
    text-align: center;
    line-height: 120px;
    font-weight: bold;
    font-size: 4rem;
    white-space: pre-line;
}

.form-register,
.form-login,
.form-save {
    min-width: 300px;
    max-width: 400px;
    border: 1px solid #E1E1E1;
    border-radius: 15px;
    padding: 2%;
    margin: 2% auto;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 1px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.815);
}

label,
input, select {
    display: block;
    width: 90%;
}

.form-register label, .form-login label, .form-save label, .form-register input,.form-login input,.form-save input, .form-register button, .form-login button, .form-save button, .form-save select {
    padding: 10px;
}

.form-login {
    display: flex;
    flex-direction: column;
    padding: 1% 2%;
    margin-top: 0;
}

.form-login span {
    padding-top: 10px;
    text-align: center;
}

.form-login button {
    width: 97%;
}

.container button {
    margin-top: 10px;
    font-size: 16px;
}

.form-save {
    margin-top: 0;
    padding: 8px 2%;
}

.form-save label, .form-save input, .form-save select, .form-save option {
    padding: 6px;
}

.button-success {
    background: rgb(24, 202, 0);
}

.button-danger {
    background: rgb(0, 148, 148);
    display: block;
    text-align: center;
}

.button-google {
    background: rgb(25, 0, 255);
}

.button-car {
    display: block;
    text-align: center;
}

.button-back {
    background-color: rgb(255, 255, 255);
    color: black;
}

.frm_input_tbox {
    border-radius: 30px;
}

.lnk_olvidecontrasenia {
    padding-right: 20px;
    color: #000;
    font-size: small;
    text-align: right;
    outline: none;
}

.container-button {
    display: block;
    padding: 0 0 1% 0;
}

#map{
    width: 600px;
    height: 600px;
    margin: 0 auto;
}
